*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

body{
    /* background: url(/image/bilderboken-rlwE8f8anOc-unsplash.jpg);
    background-size: cover 100dvh;
    background-color: #618a71;
    color: #ffffff; */
    line-height: 1.5;
    font-family: Tahoma, Geneva, sans-serif;
   
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}

header{
    background-color: #4d3f3f;
    color: #fff;
    padding: 10px;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2{
            font-size: 35px;
        }
        
        ul{
            display: flex;
            list-style: none;
            gap: 30px;

            li a{
                color: #fff;
                text-decoration: none;
                font-size: 20px;
                position: relative;
            }

            li a::after{
                content: '';
                position: absolute;
                width: 0;
                left: 100%;
                height: 2px;
                bottom: -5px;
                background-color: #fff;
                transform: translateX(100%);
                transition: transform 0.5s ease-in-out;
            }

            li a:hover::after{
                width: 100%;
                transform: translateX(100%);
            }
        }
    }
}

.hero{
    .container{
        min-height: calc(100dvh - 70px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        /* text-align: center; */
        h1{
            padding: 10px;
            font-size: 40px;
        }
        p{
            padding: 10px;
            font-size: 20px;
        }
        button{
            margin: 15px;
            padding: 15px;
            font-size: 18px;
            background-color: #619475;
            border: none;
            color: #dbd4d4;
            border-radius: 7px;
            box-shadow: 10px 8px 8px rgba(14, 13, 13, 0.349);;
            cursor: pointer;
            transition: 0.5s;

            &:hover{
                background-color: #9e9191;
                transform: translateY(8px);
                color: #ffffff;
            }
        }
    }
}

.booking{
    border: 1px solid #575050;
    border-radius: 25px;
    box-shadow: 3px 8px 5px #575050;
    margin: 12px 20px 20px 20px;
    padding: 12px;

    .container{
        h2{
            text-decoration: underline;
            text-align: center;
            padding: 9px;
            color: #000;
        }

        form{
            margin: 10px 0;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            width: max-content;
            gap: 20px;
            padding: 15px;

            div{
                display: flex;
                flex-direction: column;
                gap: 10px;

                label{
                    text-align: center;
                }

                input{
                    width: 215px;
                    gap: 5px;
                    height: 45px;
                    border: none;
                    border-radius: 7px;
                    background-color: #f1eded;
                    box-shadow: 3px 3px 5px rgba(59, 58, 58, 0.795);
                    padding: 12px 7px 12px 7px;
                    font-family: Tahoma, Geneva, sans-serif;
                    outline: none;
                }
            }

            button{
                grid-column: 3/5;
                width: 210px;
                height: 45px;
                padding: 5px;
                border-radius: 5px;
                cursor: pointer;
                border: none;
                font-size: 20px;
                background-color: #f1eded;
                box-shadow: 3px 3px 5px rgba(59, 58, 58, 0.795);

                &:hover{
                    background-color: #c2b5b5;
                    transition: 0.5s;
                }
            }
        }
    }
}







    